header.page__header(itemscope itemtype="https://schema.org/WPHeader")
  +link({ href: '/', label: 'Главная страница сайта' })
    +placeholder({
      type: 'gradient',
      text: data.meta.brand,
      size: { w: '128px', ar: '16 / 9' }
    })
  ul
    li: theme-switch
    li: include ./_nav
