header.page__header(itemscope itemtype="https://schema.org/WPHeader")
  .logo
    +placeholder({
      type: 'gradient',
      text: data.meta.brand
    })
  ul
    li: theme-switch
    li: include ./_nav
