mixin text(text)
  if Array.isArray(text)
    each part of text
      //- span= part
      = part
      | #[br]
  else
    = text

mixin switch(level, attrs)
  case level
    when 0
      - break
    when 1
      h1&attributes(attrs): block
    when 2
      h2&attributes(attrs): block
    when 3
      h3&attributes(attrs): block
    when 4
      h4&attributes(attrs): block
    when 5
      h5&attributes(attrs): block
    when 6
      h6&attributes(attrs): block
    default
      h2&attributes(attrs): block

mixin head(props)
  -
    let {
      class: className = '',
      level: headingLevel,
      text: content = '',
      split = false, // chars, words or lines
      ...rest
    } = props
  -
    let classList = ['headline']
    classList[className]
  -
    let attrsList = {
      class: classList,
    }

  if props.overline
    span.overline= props.overline

  if split
    - classList.push('reveal')
    - attrsList['data-splitting'] = split
    .reveal-wrapper
      +switch(headingLevel, attrsList)
        +text(content)
  else
    +switch(headingLevel, attrsList)
      +text(content)
  //-
    h2(class=classList class=[className] data-splitting=split)
      +text(content)
