@use '../config';

:where([data-id='hero']) {
  align-items: center;
  min-block-size: 100vh;
  min-block-size: 100svh;
  position: relative;
  place-items: center;
  // background-image: url(../images/hero/1.jpg);
  background-position: center center;
  background-size: cover;

  & > * { grid-row: 1; }

  video,
  video-player {
    z-index: -1;
    grid-column: full;
    max-block-size: 100dvh;
  }

  article {
    --flow-space: var(--spacer-3x);
    // --max-line-length: 100%;

    z-index: 1;
    padding-inline: 3ex;
    padding-block: 2ch;
    margin-inline: var(--spacer-2x);
    text-align: left;

    @include config.respond('tablet') {
      margin-inline: unset;
      grid-column: center;
      // grid-column: 2;
      place-self: center;
    }
  }

  .logo {
    z-index: 1;
    min-width: 100%;
    padding-inline: var(--spacer-6x);

    > svg { inline-size: 100%; }

    // @media (prefers-color-scheme: dark) { svg { --hsl: 70deg 100% 73%; } }
    @media (inverted-colors) { svg { filter: invert(100%); } }

    @include config.respond('tablet') {
      padding-inline: calc(2.5rem + 2vw);
    }
  }
}
